body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* S'assurer que la hauteur occupe toute la fenêtre */
    margin: 0; /* Supprimer les marges par défaut */
}
  
main {
    display: flex;
    flex-direction: row;
    flex: auto; /* Permet à main de prendre toute la place disponible */
}

article {
    flex: 2;
    overflow-y: auto; /* Défilement vertical si le contenu dépasse */
    padding: 10px;
}

aside {
    flex: 1;
    overflow-y: auto; /* Défilement vertical si nécessaire */
    padding: 10px;
}

/* Style pour le logo dans le header */
.logo {
    font-size: 30px; /* Ajuste la taille de l'étoile */
    margin-right: 15px; /* Ajoute un espacement avec le texte */
    vertical-align: middle; /* Aligne le logo avec le texte */
    color: gold; /* Couleur du logo */
  }
  /* Ajouter un fond à la page */
body {
    background-color: #fafafa; /* Couleur de fond claire */
    color: #333; /* Couleur de texte foncée pour plus de lisibilité */
  }
  
  /* Ajouter un peu d'ombre autour des éléments principaux */
  header, footer, main, article, aside {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le footer */
  footer {
    background-color: #444;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  /* Appliquer un style de bordure et un fond au sidebar (aside) */
  aside {
    background-color: #f4f4f4;
    border-left: 2px solid #ddd;
    padding: 15px;
  }
  